body {
  font-family: "poppins", sans-serif;
}

.menu {
  width: 350px;
  max-width: 500px;
  height: 400px;
  background-color: #efef;
  border: 1px solid;
  border-color: grey;
  margin-left: 28rem;
  margin-top: 6rem;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.fonts {
  margin-top: 3rem;
  font-weight: 400;
  color: orange;
}

.login .input-group {
  margin-top: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  height: 1.5rem;
  width: 14rem;
}

.login .btn {
  margin-top: 2rem;
  /* padding: 1 3rem; */
  width: 100px;
  height: 40px;
  font-size: 1rem;
  background-color: orange;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.credit {
  margin-top: 4rem;
  font-size: small;
}
